<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="/static/images/favicon.png" type="image/png" />
        <link rel="stylesheet" href="/static/css/style.css" />
        <title>How To Play | Night Knitting</title>
    </head>
    <body class="backgroundImage">
        <div class="P5main">
            <div class="howToPlay">
                <p>HOW TO PLAY</p>
            </div>
            <div class="Page5Underline">
                <img src="/static/images/Underline.png" width="345px" />
            </div>
            <iframe
                width="864"
                height="486"
                src="https://www.youtube.com/embed/OhP9Sp0JGL8"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
            ></iframe>
        </div>
    </body>
</html>
