<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="/static/images/favicon.png" type="image/png" />
        <meta name="theme-color" content="#000000" />
        <meta
            name="description"
            content="Night Knitting is an online event that require problem-solving skills and an understanding of front-end web technologies to progress through the levels."
        />
        <link rel="apple-touch-icon" href="/static/images/favicon.png" />
        <link rel="stylesheet" href="/static/css/style.css" />
        <title>Night Knitting | NCS</title>
    </head>
    <body class="backgroundImage">
        <div class="main">
            <div class="submain1">
                <div class="iconDiv">
                    <img class="icon" src="/static/images/crab logo.png" />
                </div>
                <div class="textNight">
                    <div class="textNight1">
                        <p>NIGHT KNITTING</p>
                    </div>
                    <div class="textNight2">
                        <p>SOMETHING STRANGE</p>
                    </div>
                </div>
            </div>
            <div class="submain2">
                <a href="/login">
                    <img src="/static/images/next.png" />
                </a>
            </div>
            <div class="message">
                <p>open this website on laptop to play the game</p>
            </div>
        </div>
    </body>
</html>
