<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="/static/images/favicon.png" type="image/png" />
        <meta name="theme-color" content="#000000" />
        <meta
            name="description"
            content="Night Knitting is an online event that require problem-solving skills and an understanding of front-end web technologies to progress through the levels."
        />
        <link rel="apple-touch-icon" href="/static/images/favicon.png" />
        <link rel="stylesheet" href="/static/css/style.css" />
        <title>Night Knitting | NCS</title>
    </head>
    <body>
        <div class="background">
            <img class="MOBbackgroundImage" src="/static/images/background.png" />
        </div>
        <div class="MOBmain">
            <div class="MOBsubmain1">
                <div class="MOBiconDiv">
                    <img class="MOBicon" src="/static/images/crab logo.png" />
                </div>
                <div class="MOBtextNight">
                    <div class="MOBtextNight1">
                        <p>NIGHT KNITTING</p>
                    </div>
                    <div class="MOBtextNight2">
                        <p>SOMETHING STRANGE</p>
                    </div>
                </div>
            </div>
            <div class="MOBcontent">
                <p>PLEASE OPEN THIS WEBSITE ON DESKTOP TO PLAY</p>
            </div>
        </div>
    </body>
</html>
