<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="/static/images/favicon.png" type="image/png" />
        <link rel="stylesheet" href="/static/css/style.css" />
        <title>Rules | Night Knitting</title>
    </head>
    <body class="backgroundImage">
        <div class="P6main">
            <div class="horizontalDiv">
                <div class="div2">
                    <div class="rules">
                        <p>RULES</p>
                    </div>
                    <div>
                        <img class="page6Underline" src="/static/images/Underline.png" width="160px" />
                    </div>
                </div>
            </div>
            <div class="ruleBox">
                <div class="ruleBox1">
                    <div class="refDiv">
                        <div class="subMiniRuleBoxA">1</div>
                        <div class="miniRuleBox">
                            <p>USE ALL MEANS NECESSARY TO PROGRESS TO NEXT LEVEL</p>
                        </div>
                    </div>
                    <div class="refDiv">
                        <div class="subMiniRuleBoxA">2</div>
                        <div style="padding: 10px" class="miniRuleBox">
                            <p>LOOK FOR HINTS EVERYWHERE YOU THINK THEY CAN BE FOUND</p>
                        </div>
                    </div>
                    <div class="refDiv">
                        <div class="subMiniRuleBoxA">3</div>
                        <div class="miniRuleBox">
                            <p>ANSWER SHOULD BE IN LOWER CASE AND WITHOUT SPACES</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
