<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title></title>
        <link rel="stylesheet" href="/static/css/level.css" />
    </head>
    <body>
        <div class="container">
            <div class="ques">Welcome to Europe</div>
            <div class="main"><img src="/static/images/level-13.png" /></div>
            <% if(form){ %>
            <div class="ans">
                <div class="input">
                    <label for="answer">Answer : </label>
                    <input id="answer" name="name" type="text" autocomplete="off" />
                    <div class="submit">
                        <button id="submit">Submit</button>
                    </div>
                </div>
            </div>
            <% } %>
            <div class="home"><a href="/dashboard" role="button">Home</a></div>
        </div>
        <script src="/static/js/level-13.js"></script>
    </body>
</html>
