<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>What's my name</title>
        <link rel="stylesheet" href="/static/css/level.css" />
    </head>
    <body>
        <div class="container cont-3">
            <div class="ques">
                <div class="head-3">
                    It sounded like a piece of blackboard being dragged over the nails of a wall of <span style="color: white">severed fingers.</span>
                </div>
            </div>
            <div class="main hooks">
                <img src="/static/images/level-three.png" alt="" usemap="#imgmap" class="hooks-2" />
                <p class="letters l1">A</p>
                <p class="letters l2">C</p>
                <p class="letters l3">B</p>
                <p class="letters l4">A</p>
                <p class="letters l5">M</p>
                <p class="letters l6">E</p>
                <p class="letters l7">R</p>
            </div>
            <map name="imgmap">
                <area shape="rect" coords="290,160,340,240" href="#" />
            </map>
            <div class="ans ans-3">
                <div class="input input-3">
                    <label for="answer">Answer : </label>
                    <input id="answer" name="name" type="text" autocomplete="off" />
                    <div class="submit">
                        <button id="submit">Submit</button>
                    </div>
                </div>
            </div>
            <a href="/dashboard" role="button" class="home-3">Home</a>
        </div>
        <script src="/static/js/level-3.js"></script>
    </body>
</html>
