<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>youtu.be</title>
        <link rel="stylesheet" href="/static/css/level.css" />
    </head>
    <body>
        <div class="container">
            <div class="ques">Bloody Night!!</div>
            <div class="main im">
                <!-- <img src="/static/images/level-5.png" alt="quyXS4a0JGQ" /> -->

                <img class="imgg1" src="/static/images/diary-2.png" alt="" usemap="#imgmap" />
                <img class="imgg2 hidden" src="/static/images/diary-1.png" alt="" />
                <map class="areas2" name="imgmap">
                    <area class="areass2" shape="rect" coords="111,111,222,222" href="#" />
                </map>
            </div>
            <div class="ans ans-5">
                <div class="input">
                    <label for="answer">Answer : </label>
                    <input id="answer" name="name" type="text" autocomplete="off" />
                    <div class="submit">
                        <button id="submit" type="submit">Submit</button>
                    </div>
                </div>
            </div>
            <div class="home"><a href="/dashboard" role="button">Home</a></div>
        </div>
        <script src="/static/js/level-5.js"></script>
    </body>
</html>
