<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Level 6</title>
        <link rel="stylesheet" href="/static/css/level.css" />
        <script disable-devtool-auto src="https://cdn.jsdelivr.net/npm/disable-devtool/disable-devtool.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="ques">
                <div>Where are you <span>?</span></div>
            </div>
            <div class="main"><img class="img" src="/static/images/level-6.png" alt="" /></div>
            <div class="ans">↓</div>
            <a href="/dashboard" role="button">Home</a>
        </div>
        <script src="/static/js/level-6.js"></script>
    </body>
</html>
