<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Level 8</title>
        <link rel="stylesheet" href="/static/css/level.css" />
        <style>
            :root {
                cursor: none;
                --cursorX: 0vw;
                --cursorY: 0vh;
            }
        </style>
        <script disable-devtool-auto src="https://cdn.jsdelivr.net/npm/disable-devtool/disable-devtool.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="ques">
                <div>Don't get scared. You can count on ME!!</div>
            </div>
            <div class="cover">
                <div class="main dark visible">
                    <img src="/static/images/level-8_1.png" alt="" />
                    <img src="/static/images/level-8_2.png" alt="" />
                    <img src="/static/images/level-8_3.png" alt="" />
                </div>
            </div>
            <a href="/level/0" role="button" style="z-index: 10">Home</a>
            <script src="/static/js/level-8.js"></script>
        </div>
    </body>
</html>
