@font-face {
    font-family: "Chiller";
    font-style: normal;
    font-weight: 400;
    src: local("Chiller"), url("https://fonts.cdnfonts.com/s/66488/chiller.woff") format("woff");
}

body {
    background-color: black;
    color: red;
    font-family: Chiller;
    overflow: hidden;
}

.hooks {
    z-index: 1;
}
.hooks-2 {
    height: 550px;
}

.letters {
    position: absolute;
    font-size: 30px;
    opacity: 0.1;
}
.l1 {
    left: 62vmin;
}
.l2 {
    left: 112vmin;
    bottom: 70vmin;
}
.l3 {
    left: 22vmin;
    bottom: 30vmin;
}
.l4 {
    left: 72vmin;
    bottom: 40vmin;
}
.l5 {
    left: 102vmin;
    bottom: 10vmin;
}
.l6 {
    left: 92vmin;
    bottom: 5vmin;
}
.l7 {
    left: 159vmin;
    bottom: 57vmin;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    z-index: 0;
    background-color: black;
}

.lev2 {
    background-image: url("/static/images/level-two.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.main-0 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    margin: 7%;
}

.clickMe {
    display: flex;
    justify-content: space-around;
}

button {
    background-color: red;
    border-style: none;
    font-size: 30px;
    padding: 3% 10% 3% 10%;
    color: white;
    font-family: chiller;
    margin-bottom: 20px;
}

.main {
    display: flex;
    justify-content: space-around;
    margin: 3%;
}

img {
    height: 80vh;
}

.ques {
    display: flex;
    justify-content: space-around;
    font-size: 50px;
    padding: 0 10% 0 10%;
}

.ans {
    display: flex;
    justify-content: space-around;
    font-size: 40px;
}

a {
    color: white;
    text-decoration: none;
    margin-top: -80px;
    margin-left: 5%;
    font-size: 40px;
    width: 80px;
    justify-self: self-start;
}

.level7 {
    padding: 0;

    position: absolute;
    top: 400px;
    left: 500px;
}

.level-1 button {
    background-color: red;
    padding: 4%;
    position: absolute;
    top: 420px;
    left: 450px;
    opacity: 0;
}
input {
    background-color: black;
    border-style: none;
    font-size: 35px;
    border-bottom-style: solid;
    font-family: chiller;
    color: red;
    height: 35px;
    width: 400px;
}

.submit {
    display: flex;
    justify-content: space-around;
}
.submit button {
    margin-top: 10%;
}
.hidden {
    display: none;
}

.visibile {
    visibility: hidden;
}

.cover div:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    pointer-events: none;
    background: radial-gradient(circle 10vmax at var(--cursorX) var(--cursorY), rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 1) 100%);
}

#submit:hover {
    cursor: pointer;
}

.areass2 {
    position: absolute;
    background-color: red;
    padding: 4%;
    opacity: 0;
    top: 350px;
    left: 730px;
}

.head-3 {
    position: absolute;
    z-index: 9;
}

.hooks {
    margin-top: 50px;
    width: 600px;
    height: auto;
    text-align: center;
    width: auto;
    text-align: center;
    padding: 15px;
    max-width: 100%;
    height: auto;
}
.ans-3 {
    position: relative;
    bottom: 20px;
    margin-top: -20px;
}

.home-3 {
    position: relative;
    bottom: 18px;
}

.ans-5 {
    position: relative;
}
